@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
}

main {
  font-family: 'Helvetica';
  height: 100%;
}

.container {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: 100%;
}

.row {
  height: 100%;
}

.background {
/*  background-image: url("assets/images/expl.webp");*/
  background-size:  100% auto;
  background-color: white;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #707070;
/*  transition: 0.4s;*/
  transition: filter 1.5s cubic-bezier(0.2, 1, 1, 1);
}

a:hover {
  background-color: #e3e3e3;
  color: #343434;
  filter: blur(5px);
  opacity: 0.5;
  transition: background-color 1.5s cubic-bezier(0, 1, 1, 1) ;
  display: inline-block;

}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: #707070;
}

h1 {
  font-family: 'Rubik 80s Fade', cursive; 
}


/*h3 {
  font-family: 'Rubik 80s Fade', cursive; 
}*/


li{
  list-style: none;
  letter-spacing: 2px;  
  line-height: 1em;
  font-size: 1em;
}

li:not(:last-child) {
  margin-bottom: 0.5em;
}

li:last-child {
  margin-bottom: 2em;
}


#explImg {
  opacity:0.3;
  width: 50%;
  height: 80%;
  overflow: hidden;
}

.rotate {
  animation: rotation 177s infinite linear;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}